<section>
    <div class="container my-4 d-flex align-items-center justify-content-center">
        <!--Registration form Card start-->
        <div class="card registration-form-card col-6 my-4">
            <div class="card-body">
                <h2 class="d-flex form-header card-title mb-3 justify-content-center">
                    Login
                </h2>
                <form action="" class="registration-form">
                    
                    <div class="my-3">
                        <h5>Email</h5>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="my-3">
                        <h5>Password</h5>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password">
                    </div>
                   
                    <div class="d-flex align-items-center card-buttons my-3">
                        <a href="" class="btn btn-md btn-register" role="button" >Login</a>
                    </div>
                    <p>Don't have an account? <a role="link" routerLink="register">Register</a></p>
                    
                </form>

            </div>
        </div>
        <!--Registration form Card start end-->
    </div>
</section>