<section class="home-page ">
    <div class="container d-flex align-items-center">
        <!--Start of card-->
        <div class="card col-3 border-0">
            <div class="card-body">
                <h1>My Bank</h1>
                <h5 class="card-title my-3">
                    Bank Anywhere. Anytime
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugit!
                </p>

                <!--Card buttons start-->
                <div class="d-flex align-items-center card-buttons">
                    <a href="" class="btn btn-md btn-register" role="button">Register</a>
                    <a href="" class="btn btn-md btn-login mx-3" role="button">Login</a>
                </div>
                <!--Card buttons end-->
            </div>
        </div>
        <!--End of card-->
    </div>
    
</section>