<section class="home-page ">
    <div class="container d-flex align-items-center">
        <div class="card col-3">
            <div class="card-body">
                <h1>My Bank</h1>
                <h5 class="card-title my-3">
                    Bank Anywhere. Anytime
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugit!
                </p>
            </div>
        </div>
    </div>
    
</section>