<section class="d-flex home-page align-items-center justify-content-center">
<div class="container row flex-row vh-100 align-items-center justify-content-center">
    <div class="flex align-items-center justify-content-center">
        <p class="align-text-center">
            hello world
        </p>
        <div>
            <button class="btn btn-danger">Log In</button>
            <button class="btn btn-register m-3">Register</button>
        </div>
    </div>
    
        
        
    

</div>
</section>